<launch>
  <!-- Arguments -->

  <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN scan_filtered)"/>
  <!-- <arg name="front_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_2D_SCAN front_laser/scan)"/> -->
  <arg name="rear_scan_topic" default="$(optenv ROBOT_NAVIGATION_REAR_2D_SCAN rear_laser/scan)"/>
  <arg name="front_rgbd_to_scan_topic" default="$(optenv ROBOT_NAVIGATION_FRONT_RGBD_TO_SCAN front_rgbd_camera/point_cloud_scan_filtered)"/> 
  
  <!-- Frames arguments -->
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>

  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <!-- <arg name="odom_topic" default="odom" /> -->
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="odom" default="/odom"/>
  <arg name="move_forward_only" default="false"/>
  

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true"/>
    <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true"/>
    <rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find summit_xl_navigation)/config/global_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find summit_xl_navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/teb_local_planner_diff_params.yaml" command="load"  subst_value="true" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom)"/>
  </node>
</launch>
