<launch>
  <!-- Arguments -->
  <arg name="id_robot" default="robot"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="movebase_local_planner" default="teb"/>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="perRviz_open" default="false"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="locateMethod" default="false"/>
  <arg name="cmd_vel_topic" default="/robot/cmd_vel" />
  <arg name="dwaRvizConfig" default="$(find tv_navigation)/rviz/turtlebot3_navigation.rviz" />
  <arg name="tebRvizConfig" default="$(find tv_navigation)/rviz/teb_navigation.rviz" />
  <arg name="rvizConfig" default="$(arg dwaRvizConfig)" />

  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>

  


  <!-- Map server -->
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> -->
  <!-- AMCL -->
  <!-- <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/> -->

 <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <!-- <include file="$(find summit_xl_localization)/launch/sxl_slam.launch"> -->
    <!-- <arg name="model" value="$(arg model)"/>
    <arg name="configuration_basename" value="$(arg configuration_basename)"/> -->
  <!-- </include> -->

  <!-- move_base -->
  <include file="$(find summit_xl_navigation)/launch/sxl_move_base.launch">
    
    <!-- <arg name="move_forward_only" value="$(arg move_forward_only)"/> -->
  </include>

  <!-- rviz -->
  <group if="$(arg perRviz_open)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rvizConfig)"/>
  </group>
</launch>
